body {
  background: #053742;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.row {
  margin-bottom: 0;
}

/* Highlight Helpers */

.text-highlight {
  color: #a2dbfa;
}

.higher-highlight {
  color: #43a047;
}

.lower-highlight {
  color: #e53935;
}

.equal-highlight {
  color: #1e88e5;
}

.info-highlight {
  color: #ffee58;
}

/* Landing Page */

#logo-container {
  height: 40vh;
}

#game-information-container {
  height: 40vh;
}

#play-button-container {
  height: 20vh;
}

#message-how-to-play {
  margin: 0;
}

/* Game Page */

#stat-container {
  border-bottom: .1em solid whitesmoke;
  height: 30vh;
}

#prompt-container {
  height: 50vh;
}

#answer-container {
  height: 50vh;
}

#extra-info-container {
  height:20vh;
}

#source {
  display: block;
}

/* Game Over Page */

#results-container {
  height: 25vh;
}

#message-container {
  height: 45vh;
}

#user-options-container {
  height: 30vh;
}

.button {
  background: #39a2db;
  border: .2em solid white;
  border-radius: 1em;
  color: white;
  display: inline-block;
  margin: 1em;
  text-shadow: 0px 0px 5px black;
  width: 50%;
}

.button p {
  margin: .2em;
}

#message-source {
  display: block;
}
