body {
  background-color: #053742;
  color: white;
  font-family: 'Montserrat';
  /* text-align: center; */
}

.row {
  margin-bottom: 0;
}

.prompt {
  margin-top: 8rem;
}

.content {
  margin-top: 60px;
}

#stat {
  font-size: 34px;
}

#question {
  font-size: 30px;
}

.buttons {
  display: inline-block;
}

#higher, 
#equal, 
#lower {
  padding: 10px;
  width: 8rem;
}

footer {
  bottom: 0;
  display: inline-block;
  font-size: 24px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
}

#score, 
#resources {
  display: inline-block;
  width: 45%;
}

#answer-container {
  font-size: 22px;
}

.text-highlight {
  color: #a2dbfa;
}

/* Game Over Page */

#results-container {
  height: 25vh;
}

#message-container {
  height: 45vh;
}

#user-options-container {
  height: 30vh;
}

.button {
    background: #39a2db;
    width: 50%;
    margin: 1em;
    border-radius: 1em;
    color: white;
    text-shadow: 0px 0px 5px black;
    border: .2em solid white;
    display: inline-block;
}

.button p {
  margin: .2em;
}

#message-source {
  display: block;
}
